:root {
    --slate-800: #1e293b;
    --slate-900: #0f172a;
    --green-600: #16a34a;
    --green-700: #15803d;
}

html, body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    border: none;
    outline: none;
    text-decoration: none;
}

body {
    background-color: var(--slate-800);
    color: #ffffff;
    font-family: inter, 'sans-serif';
    min-height: 2000px;
}

nav {
    background-color: var(--slate-900);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 5%;
    z-index: 999;
}

nav .nav-left button {
    display: none;
    margin-right: 10px;
    font-size: 18px;
    color: #ffffff;
    background-color: transparent;
    cursor: pointer;
    /* padding: 8px; */
}

nav .nav-left button:hover {
    color: #eaeaea;
}

nav .nav-left a {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
}

nav .nav-navigation a {
    display: inline-block;
    color: #ffffff;
    margin: 0 10px;
    font-weight: 400;
}

nav .nav-navigation a:hover {
    color: #eaeaea;
}

nav .nav-navigation a::after {
    content: '';
    display: block;
    transform: scaleX(0);
    transition: 0.3s;
    padding-bottom: 8px;
    border-bottom: 1px solid #eaeaea;
}

nav .nav-navigation a:hover::after {
    transform: scaleX(1);
}

nav .nav-right button {
    color: #ffffff;
    background-color: transparent;
    cursor: pointer;
    margin: 0 5px;
}

nav .nav-right button:hover {
    color: #eaeaea;
}

nav .nav-search {
    position: absolute;
    top: 100%;
    right: 5%;
    width: 400px;
    height: 40px;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transition: 0.3s;
    transform-origin: top;
}

nav .nav-search.active {
    transform: scaleY(1);
}

nav .nav-search input {
    width: 100%;
    height: 100%;
    padding: 8px;
}

nav .nav-search label {
    margin-left: 8px;
}


/* hero */
.hero {
    background-image: url(/assets/img/hero.jpg);
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    width: 100%;
}

.hero .content .content-left {
    width: 400px;
    margin-left: 10%;
    
}


.hero .content .content-left h1 {
    font-size: 40px;
}

.hero .content .content-left p {
    padding: 16px 0;
}

.hero .content .content-left button {
    padding: 12px 24px;
    background-color: var(--green-600);
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.hero .content .content-left button:hover {
    background-color: var(--green-700);
    color: #ffffff;
}

.hero .content .hero-img {
    display: flex;
}

.hero .content .content-right img {
    width: 500px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.7));
}


/* product */
.product {
    padding: 24px 7%;
    /* margin: 0 auto; */
}

.product h2 {
    text-align: center;
}

.product .product-button {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}

.product .product-button button.active {
    border-bottom: 3px solid #ffffff;
}

.product .product-button button {
    padding: 8px 16px;
    color: #ffffff;
    background-color: transparent;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    cursor: pointer;
}

.product .row {
    /* display: flex; */
    display: none;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

.product .row.active {
    display: flex;
}

.product .row img {
    width: 300px;
    cursor: pointer;
}

.product .row .product-card {
    width: 300px;
}

.product .row .product-card h3 {
    font-size: 16px;
    /* max-width: 80%; */
    /* overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; */
}

/* modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
   
    
}

@keyframes animateModal {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.modal .modal-content {
    position: relative;
    background-color: #ffffff;
    color: var(--slate-900);
    margin: 15% auto;
    width: 50%;
    border-radius: 8px;
    padding: 30px;
    display: flex;
    overflow-y: scroll;
    animation: animateModal 0.3s;
}

.modal .modal-content .btn-close-modal {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    color: var(--slate-900);
    background-color: transparent;
    margin-right: 8px;
    margin-top: 8px;
    cursor: pointer;
}

.modal .modal-content .btn-close-modal:hover {
    color: red;
}


.modal .modal-content img {
    width: 300px;
    height: 300px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.modal .modal-content .modal-wrap-left {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.modal .modal-content .modal-wrap-left .btn-add-to-cart {
    font-size: 20px;
    background-color: var(--green-600);
    color: #ffffff;
    padding: 8px 0;
    border-radius: 8px;
    margin-right: 10px;
}

.modal .modal-content .modal-wrap-left .btn-add-to-cart:hover {
    background-color: var(--green-700);
    color: #ffffff;
    cursor: pointer;
}

.modal .modal-content .modal-wrap {
    /* display: flex; */
}














/* Media Queri */

/* laptop 1200px */
@media (max-width: 1200px) {
    .hero .content .content-right img {
        width: 400px;
    }

    .modal .modal-content {
        flex-direction: column;
        width: 70%;
    }

    .modal .modal-content img {
        margin: 0 auto;
        margin-bottom: 20px;
    }


}


/* tablet 768px */
@media (max-width: 768px) {
    nav .nav-left button {
    display: inline-block;
}

    nav .nav-navigation {
        position: absolute;
        top: 100%;
        left: -100%;
        background-color: #eaeaea;
        width: 40vw;
        height: 100vh;
        transition: 0.3s;
    }

    nav .nav-navigation.active {
        left: 0;
    }

    nav .nav-navigation a {
        color: #010101;
        display: block;
        margin: 8px;
        padding: 4px;
        /* transition: 0.3s; */
    }

    nav .nav-navigation a:hover {
        color: #010101;
        
    }

    nav .nav-navigation a::after {
        transform-origin: 0 0;
    }

    nav .nav-navigation a:hover::after {
        transform: scaleX(0.5);
        border-bottom: 1px solid #010101;
    }

    .hero .content {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 50px;
        width: 600px;
    }

    .hero .content .content-left {
        width: 500px;
        color: var(--slate-900);
        text-shadow: 0 0 3px #ffffff;
    }

    .hero .content .content-right img {
        width: 400px;
        
    }

    .modal .modal-content {
        width: 70%;
    }
}


/* smartphone 450px */
@media (max-width: 450px) {
    nav {
        padding: 12px 5%;
    }

    .hero .content .content-right img {
        width: 300px;
        
    }

    .product .row {
        justify-content: center;
    }

    .product .product-button {
        gap: 0;
    }

    .modal .modal-content {
        width: 80%;
    }

    .modal .modal-content img {
        width: 200px;
        height: 200px;
    }
}
